*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px 125px;
}
.header-container{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;   
}
.header-menu ul{
    display: flex;
}
.header-menu li{

}
.header-menu li a{
    display: inline-block;
    padding: 20px 10px;
    margin: 0px 10px;
    color: #212529;
    font-weight: bold;
    position: relative;
}
.header-menu li a::after{
    position: absolute;
    content:"";
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: orangered;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.header-menu li a:hover::after{
    width: 100%;
}
/***
 banner section css start
***/

.banner{
    width: 100%;
    height: 500px;
    background-image: url("../images/banner.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   z-index: 0;
   margin-bottom: 100px;
}
.banner::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    

}
.banner-text{
    color: white;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.banner-text h4{
    font-size: 45px; 
    
}
.banner-text h3{
    font-size: 40px;
    color: orangered;
    
}
/* 
Carde section start
*/
.card-container{
    display: flex;
    justify-content:space-between;
}
.card{
    width: 31.33%;
    margin-bottom: 50px;
    padding-bottom: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; 
} 
.card-img img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.course-heading{
    font-size: 30px;
    padding-bottom: 20px;
}
.card-text {
    padding-left: 15px;
    
}
.card-text a{
    padding: 15px 0px;
    display: inline-block;
    color: orangered;
    
}
.card-text h3{
    padding-bottom: 8px;
}
.card-text h4{
    padding-bottom: 10px;
}
.card-text button{
   padding: 10px 20px;
   background-color: orangered;
   color: white;
   border: none;
   margin-bottom: 10px;
   font-size: 20px;
   border-radius: 10px;
   box-shadow: rgb(38 57 85) 0px 12px 30px -10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
/* 
Card offer section start
*/
.card-offer{
    width: 48%;
    position: relative;
    margin-bottom: 200px;
}
.discount-section{
    position: absolute;
    width: 60%;
    height: 100px;
    background-color: #009910;
    bottom: -8%;
    right: 8%;
    border-top-left-radius: 41px;
    border-bottom-right-radius: 38px;

}
.discount-text h3{
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: white;
}
/*
 Footer section
*/
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: bisque;
}
.footer-container h2{
    font-size: 25px;
}
